<nav id="sidebar">
    <div class="logo-notify text-center pt-4">
        <img src="/img/LOGO_NOTIFY.svg" class="" alt="Logo Notify">
    </div>

    <div class="sidebar-header navheader">
        {{!-- <img id="sidebar-img" class="img-fluid" src="/img/img1.png" alt="user image" /> --}}
        <img id="sidebar-img" class="img-fluid img-perfil"
            style="background-image: url(/img/uploadsImg/{{usuario.img_perfil}});" />
        <span id="profileUserName" class="pt-2 d-flex justify-content-center">{{usuario.nombre}}</span>
    </div>

    <ul id="listmenu" class="list-unstyled components lista">
        {{!-- <p class="font-weight-bold">Gestor de Notificaciones</p> --}}

        {{!-- <li class="pt-4">
            <input type="checkbox" id="list-item-1">
            <label for="list-item-1" class="first txtstyle">Notificaciones<i
                    class="fas fa-chevron-down ml-3"></i></label>
            <ul class="liststyle">
                <li><a href="/notifyMonitoreo/notificaciones/index" class="link-a">Urgentes</a></li>
                <li><a href="/notifyMonitoreo/proceso/index" class="link-a">En proceso</a></li>
                <li><a href="/notifyMonitoreo/concluidos/index" class="link-a">Concluidos</a></li>
            </ul>
        </li> --}}
        <li {{#if (activoInactivo activoUrg)}} class="pt-4 active" {{/if}} class="pt-4">
            <a href="/notifyMonitoreo/notificaciones/index" class="link-a">Urgentes <span id="a-urg"></span></a>
        </li>
        <li {{#if (activoInactivo activoPro)}} class="active" {{/if}}>
            <a href="/notifyMonitoreo/proceso/index" class="link-a">En proceso <span id="a-proc"></span></a>
        </li>

        <li {{#if (activoInactivo activoCon)}} class="active" {{/if}}>
            <a href="/notifyMonitoreo/concluidos/index" class="link-a">Concluidos</a>
        </li>


        {{!-- <li>
            <a href="/notifyMonitoreo/usuarios/index" class="link-a">Usuarios</a>

        </li> --}}
        <!--<li> 
                    <a href="/notifyMonitoreo/skydash/index">Skydash</a>
                </li>-->
        <li {{#if (activoInactivo activoDes)}} class="active" {{/if}}>
            <input type="checkbox" id="list-item-2">
            <label for="list-item-2" class="second txtstyle">Reporte<i class="fas fa-chevron-down ml-3"></i></label>
            <ul class="liststyle">
                <li {{#if (activoInactivo activoDes)}} class="active" {{/if}}>
                    <a href="/notifyMonitoreo/descargar/index" class="link-a">Descargar Reporte</a>
                </li>
                <li {{#if (activoInactivo activoRep)}} class="active" {{/if}}>
                    <a href="/notifyMonitoreo/reportes/index" class="link-a">Reporte Gráfico</a>
                </li>
            </ul>
        </li>

        {{#if (supervisor user.idRol)}}
        <li {{#if (activoInactivo activoCre)}} class="active" {{/if}}>
            <input type="checkbox" id="list-item-3">
            <label for="list-item-3" class="second txtstyle">Crear<i class="fas fa-chevron-down ml-3"></i></label>
            <ul class="liststyle">
                <li {{#if (activoInactivo activoCre)}} class="active" {{/if}}>
                    <a href="/notifyMonitoreo/crear_monitorista/index" class="link-a">Monitorista</a>
                </li>
            </ul>
        </li>
        <li {{#if (activoInactivo activoAdmm)}} class="active" {{/if}}>
            <input type="checkbox" id="list-item-4">
            <label for="list-item-4" class="second txtstyle">Administrar<i class="fas fa-chevron-down ml-3"></i></label>
            <ul class="liststyle">
                <li {{#if (activoInactivo activoAdmm)}} class="active" {{/if}}>
                    <a href="/notifyMonitoreo/administrar_monitoristas/index" class="link-a">Monitoristas</a>
                </li>
            </ul>
        </li>
        <li {{#if (activoInactivo activoPap)}} class="active" {{/if}}>
            <a href="/notifyMonitoreo/papelera/index" class="link-a">Papelera</a>
        </li>
        {{/if}}
        {{#if (administrador user.idRol)}}
        <li {{#if (activoInactivo activoCre)}} class="active" {{/if}}>
            <input type="checkbox" id="list-item-3">
            <label for="list-item-3" class="second txtstyle">Crear<i class="fas fa-chevron-down ml-3"></i></label>
            <ul class="liststyle">
                <li {{#if (activoInactivo activoCre)}} class="active" {{/if}}>
                    <a href="/notifyMonitoreo/crear_monitorista/index" class="link-a">Monitorista</a>
                </li>
                <li {{#if (activoInactivo activoCreS)}} class="active" {{/if}}>
                    <a href="/notifyMonitoreo/crear_supervisor/index" class="link-a">Supervisor</a>
                </li>
            </ul>
        </li>
        <li {{#if (activoInactivo activoAdmm)}} class="active" {{/if}}>
            <input type="checkbox" id="list-item-4">
            <label for="list-item-4" class="second txtstyle">Administrar<i class="fas fa-chevron-down ml-3"></i></label>
            <ul class="liststyle">
                <li {{#if (activoInactivo activoAdmm)}} class="active" {{/if}}>
                    <a href="/notifyMonitoreo/administrar_monitoristas/index" class="link-a">Monitoristas</a>
                </li>
                <li {{#if (activoInactivo activoAdmmS)}} class="active" {{/if}}>
                    <a href="/notifyMonitoreo/administrar_supervisores/index" class="link-a">Supervisores</a>
                </li>
            </ul>
        </li>
        <li {{#if (activoInactivo activoPap)}} class="active" {{/if}}>
            <a href="/notifyMonitoreo/papelera/index" class="link-a">Papelera</a>
        </li>
        {{/if}}

        <li {{#if (activoInactivo activoMiC)}} class="active" {{/if}}>
            <a href="/notifyMonitoreo/usuarios/edit/5" class="link-a">Mi cuenta</a>
        </li>
        <li {{#if (activoInactivo activoMan)}} class="active" {{/if}}>
            <a href="/notifyMonitoreo/ayuda/index" class="link-a">Manual</a>
        </li>
        <li>
            <a href="https://skyguardian.us/soporte/chat.php" class="link-a" target="_blank">Chat</a>
        </li>
        <li>
            <a href="https://skyguardiantechnology1.od2.vtiger.com/portal/index.php?module=Portal&view=Login"
                class="link-a" target="_blank">Skycenter</a>
        </li>
        <li>
            <a role="button" href="/logout" id="cerrarSesion">Cerrar Sesión</a>
        </li>
    </ul>
    {{!-- <div class="sidebar-footer pt-4">
        <span>Copyright © SKYGUARDIAN 2020.</span>
        <span>All rights reserved.</span>
    </div> --}}
</nav>


<div id="btn-float" class="button-float">
    <button class="btn-mostrar-ocultar" id="abrir" onclick="mostrar()"><i class="fa fa-thumbtack"></i></button>
    <button class="btn-mostrar-ocultar" id="cerrar" onclick="ocultar()"><i class="fa fa-thumbtack"></i></button>
</div>

<div id="content">
    <script>
        var a = document.querySelectorAll(".lista a");
        for (var i = 0, length = a.length; i < length; i++) {
            a[i].onclick = function () {
                var b = document.querySelector(".lista li.active");
                if (b) b.classList.remove("active");
                this.parentNode.classList.add('active');
            };
        }

    </script>

    <script>
        var urgentes, procesos;

        const modalComentNav = document.getElementById("modalComent");
        const modal_BMNav = document.getElementById("modal_BM");
        const modal_USCNav = document.getElementById("modal_USC");
        const modal_UBCNav = document.getElementById("modal_UBC");
        const modal_UDNav = document.getElementById("modal_UD");

        const modalComentNav2 = document.getElementById("modalComent2");
        const modalAdvert = document.getElementById("modalAdvert");

        const modalAdvert2 = document.getElementById("modalAdvert2");

        function ocultar() {

            document.getElementById("sidebar").style.width = "0";
            document.getElementById("abrir").style.display = "inline";
            document.getElementById("cerrar").style.display = "none";

            document.getElementById("btn-float").classList.remove("button-float");
            document.getElementById("btn-float").classList.add("button-float2");

            document.getElementById("content").style.width = "100%";
            document.getElementById("main-body").style.paddingLeft = "50px";
            document.getElementById("main-body").style.paddingRight = "50px";

            if (typeof modalComent !== "undefined" && typeof modal_BM !== "undefined" && typeof modal_USC !== "undefined" && typeof modal_UBC !== "undefined" && typeof modal_UD !== "undefined") {
                document.getElementById("modalComent").style.paddingLeft = "0px";
                document.getElementById("modal_BM").style.paddingLeft = "0px";
                document.getElementById("modal_USC").style.paddingLeft = "0px";
                document.getElementById("modal_UBC").style.paddingLeft = "0px";
                document.getElementById("modal_UD").style.paddingLeft = "0px";
            }

            if (typeof modalComentNav2 !== "undefined" && typeof modalAdvert !== "undefined") {
                document.getElementById("modalComent2").style.paddingLeft = "0px";
                document.getElementById("modalAdvert").style.paddingLeft = "0px";
            }

            if (typeof modalAdvert2 !== "undefined") {
                document.getElementById("modalAdvert2").style.paddingLeft = "0px";
            }

        }
        function mostrar() {
            document.getElementById("sidebar").style.width = "190px";
            document.getElementById("abrir").style.display = "none";
            document.getElementById("cerrar").style.display = "inline";
            document.getElementById("content").style.width = "calc(100% - 190px)";
            document.getElementById("main-body").style.paddingLeft = "15px";
            document.getElementById("main-body").style.paddingRight = "15px";

            document.getElementById("btn-float").classList.remove("button-float2");
            document.getElementById("btn-float").classList.add("button-float");

            if (typeof modalComent !== "undefined" && typeof modal_BM !== "undefined" && typeof modal_USC !== "undefined" && typeof modal_UBC !== "undefined" && typeof modal_UD !== "undefined") {
                document.getElementById("modalComent").style.paddingLeft = "190px";
                document.getElementById("modal_BM").style.paddingLeft = "190px";
                document.getElementById("modal_USC").style.paddingLeft = "190px";
                document.getElementById("modal_UBC").style.paddingLeft = "190px";
                document.getElementById("modal_UD").style.paddingLeft = "190px";
            }

            if (typeof modalComentNav2 !== "undefined" && typeof modalAdvert !== "undefined") {
                document.getElementById("modalComent2").style.paddingLeft = "190px";
                document.getElementById("modalAdvert").style.paddingLeft = "190px";
            }

            if (typeof modalAdvert2 !== "undefined") {
                document.getElementById("modalAdvert2").style.paddingLeft = "190px";
            }

        }

        function cantNot() {
            fetch('/countUrgProc', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then((res) => res.json())
                .then((data) => {
                    if (data.resUrg[0].urgentes === 0) { urgentes = 0; } else { urgentes = data.resUrg[0].urgentes }
                    if (data.resProc[0].progresos === 0) { procesos = 0; } else { procesos = data.resProc[0].progresos }
                    document.getElementById("a-urg").innerHTML = "(" + urgentes + ")";
                    document.getElementById("a-proc").innerHTML = "(" + procesos + ")";
                })
                .catch((err) => console.log(err));
        }

        function totalnotf() {
            urgentes = urgentes + 1;
            document.getElementById("a-urg").innerHTML = "(" + urgentes + ")";
        }

        cantNot();
    </script>
    <main class="mt-0" id="main-body">