<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Gestor de Notificaciones</title>
    <link rel="shortcut icon" href="/img/favicon.ico">


    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">
    <!-- Charts CSS -->
    <linl rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" />
    <!-- Font awesome -->
    <linl rel="stylesheet" href="/css/font-awesome.min.css" />
    <!-- Bootstrap Toggle -->
    <link href="/css/bootstrap-toggle.min.css" rel="stylesheet">
    <!-- Google fonts: Monserrat -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet"> 
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="/css/style.css">

    <!-- Font Awesome JS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js"
        integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ"
        crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js"
        integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY"
        crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://hst-api.wialon.com/wsdk/script/wialon.js"></script>
    <!-- jQuery CDN - Slim version (=without AJAX) -->
    {{!-- <script src="https://code.jquery.com/jquery-3.5.0.min.js"></script> --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script lang="javascript" src="/js/xlsx.full.min.js"></script>
    <script lang="javascript" src="/js/blob.js"></script>
    <script lang="javascript" src="/js/FileSaver.min.js"></script>
    <script src="/js/jquery.twbsPagination.min.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>

<body>

    <div class="wrapper">

        {{{body}}}

    </div>

    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    {{!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> --}}
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js"></script>
    <!-- jQuery Custom Scroller CDN -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
    <!-- Scorttable -->
    <script src="/js/sorttable.js"></script>
    <!-- Bootstrap Toggle -->
    <script src="/js/bootstrap-toggle.min.js"></script>
    <!-- Charts js -->

    <script type="text/javascript">
        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            $('#sidebar, #content').toggleClass('active');
            $('.collapse.in').toggleClass('in');
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });
    </script>

    <script>
        //var globals= JSON.parse(decodeURIComponent("{{globals}}"));
        //var baseUrl = "{{globals.baseUrl}}";
        //var appName = "{{globals.appName}}";

        /*const globals={
            baseUrl:"http://localhost:3000/gestor",
            appName:"Gestor de Notificaciones",
        }*/

        var globals = JSON.parse(decodeURIComponent("%7B%22baseUrl%22%3A%22http%3A%2F%2Flocalhost%3A3000%2Fgestor%22%2C%22appName%22%3A%22Gestor%20de%20Notificaciones%22%7D"));
        //var baseUrl = "{{globals.baseUrl}}";
        //var appName = "{{globals.appName}}";
    </script>



</body>

</html>