/*Colores:
Azul marino: #182f6d
Azul: #4169e0
Azul celeste: #6bc4f7  #559fca
Aqua: #18e0e5
Amarillo: #fcc000   #f49818 
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', Arial;
    background: #fff;
}

p {
    font-family: 'Poppins', Arial;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 145px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #182f6d;
    color: #fff;
    transition: all 0.3s;
}

.sidebar-header img {
    display: block;
    width: 5vh;
    margin: auto;
}

.sidebar-footer span {
    font-size: 0.6em;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar ul.components {
    /*padding: 20px 0 20px 20px;*/
    /*border-bottom: 1px solid #000;*/
}

#sidebar ul ul a {
    font-size: 0.8em !important;
    background: none;
}

#sidebar ul a {
    padding: 20px 0 20px 20px;
}

.components li a {
    color: white;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px 10px 10px 25px;
    font-size: 0.8em;
    display: block;
}

#sidebar ul li a:hover {
    color: #000;
    background: #fcc000;
}

#sidebar ul li ul li a {
    padding: 10px 10px 10px 40px;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #fcc000;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.8em !important;
    /* padding-left: 30px !important; */
    background: #000;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #000;
}

a.article,
a.article:hover {
    background: #000 !important;
    color: #fff !important;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 145px);
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

#content main {
    padding-left: 15px;
    padding-right: 15px;
}

.navheader {
    padding: 24px 0px 0px;
}


/* ---------------------------------------------------
    NOTIFICACIONES
----------------------------------------------------- */

.table {
    text-align: left;
}

.custom-switch {
    margin: auto;
}

.info-img {
    width: 6vh;
    object-fit: none;
}

small {
    font-size: 0.7em;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}


/* ===========MODAL========= */


/* The Modal (background) */

.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 48px;
    /* Location of the box */
    padding-left: 145px;
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    /*width: 60%;*/
    width: 700px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


/* Add Animation */

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}


/* The Close Button */

.cerrar {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.cerrar:hover,
.cerrar:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modalHeader {
    padding: 18px 32px 7px 32px;
    background-color: #343a40;
    color: white;
}

.modalHeader h3 {
    margin: 0;
}

.modalBody {
    padding: 40px 70px 20px;
}

.modalBody textarea {
    margin-top: 25px;
}

.modalFooter {
    padding: 0px 32px 12px 32px;
    /* background-color: #f4f4f4; */
    color: black;
}

.modalFooter h5 {
    margin: 0;
}

.sectionCom {
    display: none;
}

.aviso {
    width: 49%;
}

.historialTabla {
    margin: 0 22px 30px;
    -webkit-animation: slide-down .3s ease-out;
    -moz-animation: slide-down .3s ease-out;
    animation: slide-down .3s ease-out;
}

.show {
    display: block;
}

.contForm {
    padding-left: 145px;
    margin-top: 15px;
}

.colform {
    border-radius: 22px;
    padding: 46px 60px;
}

.colform-bottom {
    border-bottom-left-radius: 22px;
    border-bottom-right-radius: 22px;
    padding: 46px 60px;
}

.file {
    visibility: hidden;
    position: absolute;
}

.preview {
    height: 190px;
    width: 145px;
    background-image: url(/public/img/img1.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contAlert {
    padding-left: 145px;
}

.table-font-size {
    font-size: 0.8em;
}

.table-font-size button {
    font-size: 1.1em;
}

.pointer {
    cursor: pointer;
}

.log-container {
    height: 100vh;
}

.login {
    width: 500px;
}

.login img {
    width: 145px;
}

.logo {
    background-color: #0b143a;
    padding: 20px 0;
}

.form-login {
    background-color: white;
    padding: 55px 67px;
}

.form-login input {
    border-radius: 0;
}

.btn-blue {
    color: #fff;
    background-color: #e36417;
    border-color: #f79053;
    border-radius: 0;
}

.btn-blue:hover {
    color: #fff;
    background-color: #ff8034;
    border-color: #e16419;
}

.btn-blue.focus,
.btn-blue:focus {
    box-shadow: 0 0 0 .2rem #e65d0b;
}

.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #e36417;
    border-color: #f79053;
}

.img-perfil {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 50px !important;
    height: 50px !important;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    padding: 50px;
}

.widthLog {
    width: 500px;
}

.btn-trash {
    background-color: #dc3545;
    border: none;
    color: white;
    padding: 9px 13px;
    font-size: 16px;
    cursor: pointer;
}

.btn-trash:hover {
    background-color: #ac2626;
}

.btn-save {
    background-color: #355fdc;
    border: none;
    color: white;
    padding: 9px 13px;
    font-size: 16px;
    cursor: pointer;
}

.btn-save:hover {
    background-color: #265aac;
}

.card_BM {
    background-color: #182f6d;
}

.card_USC {
    background-color: #4169e0;
}

.card_ZBC {
    background-color: #559fca;
}

.card_UD {
    background-color: #f49818;
}

.card_BM,
.card_USC,
.card_ZBC,
.card_UD {
    cursor: pointer;
}

.text-muted {
    color: #fff !important;
}

.list_font-size {
    font-size: 14px;
}

.btn-mostrar-ocultar {
    background-color: #182f6d;
    border: none;
    color: white;
    padding: 10px 14px;
    font-size: 16px;
    cursor: pointer;
    position: absolute;
}

#abrir {
    display: none;
}

.btn-mostrar-ocultar:hover {
    background-color: #4169e0;
}

.break-text tr td:nth-child(6) {
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    /* Sólo WebKit -NO DOCUMENTADO */
    -ms-hyphens: auto;
    /* Guiones para separar en sílabas */
    -moz-hyphens: auto;
    /*  depende de lang en <html>      */
    -webkit-hyphens: auto;
    hyphens: auto;
}

.button-float {
    position: fixed !important;
    bottom: 40px;
    z-index: 99999;
    right: 18px;
    left: 145px;
    opacity: 0.7;
    transition: all 0.3s;
}

.button-float2 {
    position: fixed !important;
    bottom: 40px;
    z-index: 99999;
    right: 18px;
    left: 0px;
    opacity: 0.7;
    transition: all 0.3s;
}

.bloque-color {
    width: 47px;
    height: 17px;
    border: 1px solid #757575;
}

.bloque-texto {
    font-size: 15px;
    margin: 0;
    color: black;
}

.tablaResultado {
    height: 650px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.loader {
    position: absolute;
}

.divider {
    position: relative;
    margin-top: 10px;
    height: 1px;
}

.div-transparent:before {
    content: "";
    position: absolute;
    top: 0;
    left: 5%;
    right: 5%;
    width: 90%;
    height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(156, 156, 156), transparent);
}

.border-box {
    border-radius: 25px;
}

.backform {
    background-color: #e3e3e3;
    padding: 30px 0;
}

input[type="checkbox"] {
    position: absolute;
    left: -9999px;
}

input[type="checkbox"]~ul {
    height: 0;
    transform: scaleY(0);
}

input[type="checkbox"]:checked~ul {
    height: 100%;
    transform-origin: top;
    transition: transform .2s ease-out;
    transform: scaleY(1);
}

.txtstyle {
    padding: 10px 10px 10px 25px;
    font-size: 0.8em;
    display: block;
    margin: 0;
    cursor: pointer;
}

.txtstyle:hover {
    color: #000;
    background: #fcc000;
}

.liststyle {
    padding-left: 0px;
}

.liststyle li {
    display: block;
    margin: 0;
    list-style: none;
}

.background-black {
    background-color: #2d2d2d;
    border-radius: 25px 25px 0 0;
    color: white;
}

.shadow-box {
    -webkit-box-shadow: 8px 9px 7px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 8px 9px 7px 0px rgba(0, 0, 0, 0.25);
    box-shadow: 8px 9px 7px 0px rgba(0, 0, 0, 0.25);
}

.table-size {
    width: 70% !important;
}

.toggle-handle {
    background-color: white;
}

.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show>.btn-warning.dropdown-toggle {
    color: #fff;
    background-color: #f0894e;
}

.form-control.is-invalid,
.was-validated .form-control:invalid {
    box-shadow: 0px 0px 3px #dc3545;
    background-image: none;
}

.forgetpass {
    color: #007bff;
    cursor: pointer;
    font-size: 14px;
}

.forgetpass:hover {
    color: #0056b3;
    ;
}

.modal-login {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 0;
    padding-left: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.alignitem {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}


/*Seccion Ayuda*/

.list-color a {
    background-color: #182f6d;
    color: white;
}

.list-color a:hover {
    background-color: #fcc000;
    color: black;
}

.logo-notify img {
    width: 122px;
}

.tarjet-img {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    float: right;
}

.bg-gray {
    background-color: rgb(172, 172, 172);
    color: white;
}

.bg-lightgrey {
    background-color: #f2f2f2 !important;
}

.smallfont {
    font-size: 0.8em;
}

.contenido p {
    font-family: 'Poppins', Arial;
    font-size: medium;
    color: #000;
}

.cont-lista {
    margin: 10px 0px 19px 30px;
}

.cont-lista p {
    margin: 0;
}


/*Login*/

.login-color {
    background-color: #182f6d;
    height: 100vh;
    font-family: 'Montserrat', Arial;
}

.logo-noti img {
    width: 350px;
}

.logo-sky {
    width: 230px;
}

.formlogin .form-control {
    color: white;
    background-color: #182f6d;
    background-clip: padding-box;
    border: 1px solid #182f6d;
    border-radius: .25rem;
    border-bottom: 1px solid white;
}

.formlogin .form-control::placeholder {
    color: white;
    font-size: 15px;
}

.btn-orange {
    color: #fff;
    background-color: #e36417;
    border-color: #f79053;
    border-radius: 0;
    border-radius: 30px;
    font-size: 15px;
}

.btn-orange:hover {
    color: #fff;
    background-color: #ff8034;
    border-color: #e16419;
}

.btn-orange.focus,
.btn-orange:focus {
    box-shadow: 0 0 0 .2rem #e65d0b;
}

.forget-pass {
    color: white;
    cursor: pointer;
    font-size: 12px;
}

.forget-pass:hover {
    color: rgb(219, 219, 219);
}

.lineav {
    border-right: 3px solid white;
    height: 100%;
}


/*Modal advertencia*/

.modaladvertencia {
    padding-top: 130px;
    display: none;
    position: fixed;
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.email-box {
    background-color: #F0F0F0;
    display: inline-block;
    padding: 1em;
    text-align: center
}

.checkaccion {
    width: 1.5rem;
    height: 1.5rem;
    background-color: #fff;
    border: #000 1px solid;
    margin: 0 auto;
}
.maxima {
    color: #fff;
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
}
.alta {
    color: #fff;
    background-color: #f79646 !important;
    border-color: #f79646 !important;
}
.baja {
    color: #fff;
    background-color: #92d050 !important;
    border-color: #92d050 !important;
}