{{> navigation}}

<div class="row text-center">
    <div class="col px-0">
        <h3 class="py-3" style="font-family: Arial; background-color: #182f6d; color: white;">MANUAL</h3>
    </div>
</div>

<div class="mt-5"></div>

<div class="container">
  <div class="row">
    <div class="col-3 pr-0">
      <div class="list-group list-color" id="list-tab" role="tablist">
        <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list"
          href="#list-intro" role="tab" aria-controls="home">
          Introducción
        </a>
        <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-sesion"
          role="tab" aria-controls="profile">
          Inicio de sesión
        </a>
        <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list"
          href="#list-interfaz" role="tab" aria-controls="messages">
          Interfaz principal
        </a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-notif"
          role="tab" aria-controls="settings">
          Tabla de notificaciones
        </a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
          href="#list-reporte" role="tab" aria-controls="settings">
          Reporte
        </a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
          href="#list-crearuser" role="tab" aria-controls="settings">
          Crear usuario
        </a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
          href="#list-adminuser" role="tab" aria-controls="settings">
          Administrar usuarios
        </a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
          href="#list-papelera" role="tab" aria-controls="settings">
          Papelera
        </a>
        <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list"
          href="#list-micuenta" role="tab" aria-controls="settings">
          Mi cuenta
        </a>
      </div>
    </div>

    <div class="col-9 p-0 bg-lightgrey contenido">
      <div class="tab-content p-3" id="nav-tabContent">
        <div class="tab-pane fade show active" id="list-intro" role="tabpanel" aria-labelledby="list-home-list">
          <p>La sección presenta el uso del gestor de notificaciones para áreas de monitoreo que trabajan en base a
            alertamientos generados en la plataforma TELEMATICS SKYGUARDIAN.</p>
          <p>El gestor comprende nuevas funcionalidades entre ellas:</p>
          <div class="cont-lista">
            <p><i class="fas fa-circle fa-xs mr-2"></i>Roles de usuarios (Administrador, supervisor y usuarios
              monitorista)</p>
            <p><i class="fas fa-circle fa-xs mr-2"></i>Dashboard con gráficas sobre eventos básicos de comportamiento de
              las unidades</p>
            <p><i class="fas fa-circle fa-xs mr-2"></i>Generación de consultas y reportes</p>
            <p><i class="fas fa-circle fa-xs mr-2"></i>Modificar perfil</p>
            <p><i class="fas fa-circle fa-xs mr-2"></i>Clasificación de atención en notificaciones</p>
            <p><i class="fas fa-circle fa-xs mr-2"></i>Un aspecto más amigable con el usuario</p>
            <p><i class="fas fa-circle fa-xs mr-2"></i>Tarjetas de información rápida (unidades bloqueadas, unidades sin
              conexión, zonas de baja cobertura, unidades detenidas)</p>
          </div>
          <p>Durante el presente manual, le estaremos guiando en el proceso de uso del gestor de notificaciones, para
            dudas, consultas y asesoría sobre la operación del mismo.</p>
        </div>
        <div class="tab-pane fade" id="list-sesion" role="tabpanel" aria-labelledby="list-profile-list">
          <div class="row d-flex align-items-center">
            <div class="col-6">
              <img src="/img/man01.2.jpg" class="img-fluid" alt="Imagen captura inicio de sesión">
            </div>
            <div class="col-6">
              <p class="font-weight-bold">Iniciar sesión</p>
              <p>Inicialmente Skyguardian le proveerá de un usuario Administrador para comenzar a trabajar con el
                gestor.</p>
              <ol>
                <li>Introducir usuario (correo).</li>
                <li>Introducir contraseña.</li>
                <li>Presionar Enter para iniciar sesión.</li>
              </ol>
            </div>
            <div class="col-6 mt-4">
              <img src="/img/man02.2.jpg" class="img-fluid" alt="Imagen captura inicio de sesión">
            </div>
            <div class="col-6 mt-4">
              <p class="font-weight-bold">Recuperar contraseña</p>
              <p>Cabe la posibilidad de olvidar la contraseña, para ello se tiene la opción de recuperar a través de un
                correo electrónico.</p>
              <ol>
                <li>Presionar “¿olvidaste la contraseña?”</li>
                <li>Escribir correo electrónico a recuperar.</li>
                <li>Revisar la bandeja de entrada para obtener el código de contraseña temporal generada y poder
                  ingresar.</li>
              </ol>
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="list-interfaz" role="tabpanel" aria-labelledby="list-messages-list">
          <div class="row">
            <div class="col-12">
              <h4 class="font-weight-bold mb-3">INTERFAZ PRINCIPAL</h4>
              <img src="/img/man04.jpg" class="img-fluid mb-3" alt="Imagen de la interfaz principal del gestor">
              <div class="divider div-transparent mt-4"></div>
            </div>
          </div>
          <div class="row mt-4 d-flex align-items-center">
            <div class="col-3 text-center">
              <img src="/img/man05.jpg" class="img-fluid mt-2" alt="Imagen de punto 1 (sección de usuario)">
            </div>
            <div class="col-9">
              <p class="font-weight-bold">1. Usuario</p>
              <p>Esta sección muestra al usuario logueado en el momento, es un sector visual informativo donde se
                muestra la foto de usuario y la posibilidad de cargar una imagen personalizada o bien el logo de la
                empresa.</p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-3 text-center">
              <img src="/img/man06.jpg" class="img-fluid mt-2" alt="Imagen de punto 2 (sección de menú principal)">
            </div>
            <div class="col-9">
              <p class="font-weight-bold">2. Menú principal</p>
              <p>El menú está compuesto de acuerdo a los permisos y privilegios, en el caso de este manual abordaremos
                el menú de un administrador, dentro del sistema figuran 3 tipos de usuarios los cuales tienen o no
                acceso a distintas partes del sistema, los cuales son:</p>
              <div class="cont-lista">
                <p><i class="fas fa-circle fa-xs mr-2"></i>Administrador</p>
                <p><i class="fas fa-circle fa-xs mr-2"></i>Supervisor</p>
                <p><i class="fas fa-circle fa-xs mr-2"></i>Monitorista</p>
              </div>
              <p>Cada opción mostrará información en la pantalla, la cual se desgloza más adelante.</p>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-12">
              <p class="font-weight-bold text-center">3. Tarjetas informativas rápidas</p>
              <img src="/img/man07.jpg" class="img-fluid mb-2"
                alt="Imagen de punto 3 (sección de tarjetas informativas)">
              <p>Esta sección del gestor muestra en detalle rápido un listado con las unidades que se encuentran en el
                estado mostrado, al hacer clic sobre la tarjeta esta despliega una lista con las unidades, las vistas
                rápidas clasifican a las unidades en:</p>
              <div class="cont-lista">
                <p><i class="fas fa-circle fa-xs mr-2"></i>Unidades con bloqueo de motor</p>
                <p><i class="fas fa-circle fa-xs mr-2"></i>Unidades sin conexión</p>
                <p><i class="fas fa-circle fa-xs mr-2"></i>Transitando alguna zona de baja cobertura</p>
                <p><i class="fas fa-circle fa-xs mr-2"></i>Unidades detenidas</p>
              </div>
            </div>
            <div class="col-12">
              <p class="font-weight-bold text-center">4. Tabla de notificaciones</p>
              <img src="/img/man08.jpg" class="img-fluid mb-2 img-thumbnail"
                alt="Imagen de punto 4 (sección tabla de notificaciones)">
              <p>Es la pantalla inicial al entrar al sistema, en la tabla se reciben las notificaciones, donde la
                información captada refleja la unidad, fecha y hora del evento, el grupo de unidades en donde se detona
                la notificación, la ubicación en liga de maps, y un botón para desplegar el formulario del comentario
              </p>
            </div>
            <div class="col-12 text-center">
              <img src="/img/man09.jpg" class="img-fluid mb-5 w-50" alt="Imagen de modal para insertar cometarios">
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="list-notif" role="tabpanel" aria-labelledby="list-settings-list">
          <div class="row">
            <div class="col-12">
              <p class="font-weight-bold text-center">Urgentes</p>
              <p>Se muestra como la pantalla principal y se clasifican las notificaciones como urgentes, es decir las
                que entran por primera vez al sistema. En él se podrán agregar los comentarios necesarios, estan pueden
                quedar como urgentes o determinarse como en proceso o concluidos.</p>
              <p class="font-weight-bold text-center">En proceso</p>
              <p>En esta pestaña se clasifican las notificaciones que ya han sido comentadas, asi mismo muestra una
                cantidad visual inmediata para conocer el numero de registros pendientes por procesar o que están
                pendientes de concluir, al tiempo, se refleja el espacio que tardo el monitorista en comentar primer
                notificación A.P.C. (Atencion Primer Comentario), y el usuario que ingreso el comentario, al igual, si
                la incidencia no ha terminado de ser procesada, también refleja el tiempo de último comentario realizado
                sobre la incidencia, A.U.C. (Atención Último Comentario).</p>
              <img src="/img/man10.jpg" class="img-fluid mb-4" alt="Imagen tabla notificaciones en proceso">
              <p class="font-weight-bold text-center">Concluidos</p>
              <p>Finalmente en esta pestaña se coleccionan aquellas notificaciones que ya han sido concluidas por el
                cuerpo del personal dedicado a revisar el tipo de incidencia que llega y como se ven guiados a
                documentar el seguimiento de las notificaciones, el administrador tiene la capacidad de poder eliminar
                todas o por notificación que ya han sido concluidas, con la finalidad de liberar vista a la tabla, estas
                notificaciones quedan aún en sistema por cualquier detalle, en área de “papelera”.</p>
              <img src="/img/man11.jpg" class="img-fluid mb-4" alt="Imagen tabla notificaciones concluidas">
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="list-reporte" role="tabpanel" aria-labelledby="list-settings-list">
          <div class="row">
            <div class="col-3 text-center">
              <img src="/img/man12.jpg" class="img-fluid mb-4" alt="Imagen menú sección reportes">
            </div>
            <div class="col-9">
              <p>En este apartado se hacen consultas de las incidencias dependiendo la opción que se elija:</p>
              <div class="cont-lista">
                <p><i class="fas fa-circle fa-xs mr-2"></i>Descarga reporte</p>
                <p><i class="fas fa-circle fa-xs mr-2"></i>Reporte gráfico</p>
              </div>
            </div>
            <div class="col-12">
              <p class="font-weight-bold text-center">Descarga reporte</p>
              <p>En este apartado se puede elegir el rango de tiempo de la consulta, asi como por estado, monitorista
                y/o unidad. Se tiene la opción de solo mostrar resultados o descargar la información en una hoja de
                Excel para análisis independiente.</p>
            </div>
            <div class="col-12 text-center">
              <img src="/img/man16.jpg" class="img-fluid mb-4" alt="Imagen sección descargar reporte en excel">
            </div>
            <div class="col-12">
              <p class="font-weight-bold text-center">Reporte gráfico</p>
              <p>En esta sección se encuentran estadísticas gráficas sobre las unidades, estas se pueden consultar por
                rango de fecha.</p>
            </div>
            <div class="col-6">
              <img src="/img/man13.jpg" class="img-fluid mb-4" alt="Imagen sección reporte gráfico">
            </div>
            <div class="col-6">
              <img src="/img/man15.jpg" class="img-fluid mb-4" alt="Imagen sección reporte gráfico">
            </div>
            <div class="col-12 text-center">
              <img src="/img/man14.jpg" class="img-fluid mb-4" alt="Imagen sección reporte gráfico">
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="list-crearuser" role="tabpanel" aria-labelledby="list-settings-list">
          <div class="row">
            <div class="col-3 text-center">
              <img src="/img/man17.jpg" class="img-fluid mb-4" alt="Imagen sección reporte gráfico">
            </div>
            <div class="col-9">
              <p>En esta sección solo aparece para dos entidades, Administrador y Supervisor, el administrador del
                sistema es el usuario de mayor jerarquía en Notify, este usuario puede:</p>
              <div class="cont-lista">
                <p><i class="fas fa-circle fa-xs mr-2"></i>Crear y administrar supervisores</p>
                <p><i class="fas fa-circle fa-xs mr-2"></i>Crear y administrar monitoristas</p>
                <p><i class="fas fa-circle fa-xs mr-2"></i>Generar y descargar reportes de notificaciones</p>
                <p><i class="fas fa-circle fa-xs mr-2"></i>Eliminar notificaciones de papelera</p>
                <p><i class="fas fa-circle fa-xs mr-2"></i>Modificar cuenta y contraseña</p>
              </div>
              <p>El usuario supervisor puede:</p>
              <div class="cont-lista">
                <p><i class="fas fa-circle fa-xs mr-2"></i>Crear y administrar monitoristas</p>
                <p><i class="fas fa-circle fa-xs mr-2"></i>Consultar reportes</p>
                <p><i class="fas fa-circle fa-xs mr-2"></i>Consultar notificaciones</p>
                <p><i class="fas fa-circle fa-xs mr-2"></i>Modificar cuenta y contraseña.</p>
              </div>
              <p>El usuario monitorista puede</p>
              <div class="cont-lista">
                <p><i class="fas fa-circle fa-xs mr-2"></i>Comentar notificaciones</p>
                <p><i class="fas fa-circle fa-xs mr-2"></i>Modificar cuenta y contraseña</p>
              </div>
            </div>
            <div class="col-12 mt-3 text-center">
              <img src="/img/man18.jpg" class="img-fluid mb-4" alt="Imagen sección reporte gráfico">
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="list-adminuser" role="tabpanel" aria-labelledby="list-settings-list">
          <div class="row">
            <div class="col-12">
              <p>En este apartado, se tiene la posibilidad de activar o desactivar al usuario, este método permite que
                aunque tenga acceso al sistema también pueda ser detenido de ingresar en horas no laborales, esto con la
                finalidad de tener un control sobre los usuarios que comentan las notificaciones.</p>
              <img src="/img/man19.jpg" class="img-fluid mb-4" alt="Imagen sección administrar usuario">
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="list-papelera" role="tabpanel" aria-labelledby="list-settings-list">
          <div class="row">
            <div class="col-12">
              <p>Este apartado es un espacio para guardar notificaciones que ya han sido atendidas, únicamente es
                informativo para cuestiones de consultas, este apartado puede ser gestionado unicamente por el
                administrador, en esta sección las notificaciones se eliminan <strong>permanentemente</strong>.</p>
              <img src="/img/man20.jpg" class="img-fluid mb-4" alt="Imagen sección papelera">
            </div>
          </div>
        </div>
        <div class="tab-pane fade" id="list-micuenta" role="tabpanel" aria-labelledby="list-settings-list">
          <div class="row d-flex align-items-center">
            <div class="col-6">
              <img src="/img/man22.jpg" class="img-fluid mb-4" alt="Imagen sección Mi cuenta">
            </div>
            <div class="col-6">
              <p>En esta sección se modifica el nombre del monitorista, supervisor o administrador según sea el caso, de
                igual manera, podemos cargar una imagen como distintivo adicional.</p>
            </div>
            <div class="col-6">
              <img src="/img/man23.jpg" class="img-fluid mb-4" alt="Imagen sección Mi cuenta">
            </div>
            <div class="col-6">
              <p>Dentro de la opción de mi cuenta, es posible actualizar contraseña (la contraseña se encuentra validada por 8 a 15 carácteres con al menos una minuscula, mayúscula, número y caracter especial para mayor seguridad de la cuenta), por lo que el formulario, solo debe ser llenado y confirmar. 
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>