{{> navigation}}
<div class="row text-center">
    <div class="col px-0">
        <h3 class="py-3" style="font-family: Arial; background-color: #182f6d; color: white;">MI CUENTA</h3>
    </div>
</div>
<div class="mt-5"></div>

<div class="container contAlert">
    <div class="row">
        <div id="alerta" class="col-offset-1 col-10">
            {{> message}}
        </div>
    </div>
</div>

<div class="container contForm">
    <div class="row mb-4">
        <div class="col-offset-1 col-10 py-4 background-black">
            <h4 class="text-center m-0">Información personal</h4>
        </div>
        <div class="col-offset-1 col-10 bg-white shadow-box colform-bottom mb-4">
            <form id="formImgP" action="/act_imagen" method="POST" enctype="multipart/form-data">
                <div class="form-group row d-flex justify-content-center pb-3">
                    <div class="col-6 d-flex justify-content-center pb-3">
                        {{#if user.img_perfil}}
                        <img id="preview" class="rounded preview"
                            style="background-image: url(/img/uploadsImg/{{ user.img_perfil }});">
                        {{else}}
                        <img id="preview" class="rounded preview" style="background-image: url(/img/default.jpg);">
                        {{/if}}
                    </div>
                    <div class="col-8">
                        <input type="file" id="imagen" name="imagen" class="file" accept="image/.jpg, .jpeg, .png">
                        <div class="input-group">
                            <input type="text" class="form-control" disabled placeholder="Selecciona una foto..."
                                id="file" name="file">
                            <div class="input-group-append">
                                <button type="button" class="browse btn btn-dark">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" id="inputNameFile" name="inputNameFile" value="">
                <div class="form-group row">
                    <label for="nombre" class="col-sm-4 col-form-label">Nombre</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="nombre" name="nombre" value="{{ user.nombre }}"
                            required>
                    </div>
                </div> 
                <div class="form-group row">
                    <label for="apellido" class="col-sm-4 col-form-label">Apellido</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="apellido" name="apellido"
                            value="{{ user.apellido }}" required>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-dark mt-2 px-5">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container contAlert">
    <div class="row">
        <div id="alerta2" class="col-offset-1 col-10">
        </div>
    </div>
</div>

<div class="container contForm">
    <div class="row mb-5">
        <div class="col-offset-1 col-10 py-4 background-black">
            <h4 class="text-center m-0">Actualizar contraseña</h4>
        </div>
        <div class="col-offset-1 col-10 bg-white shadow-box colform-bottom mb-4">
            <form id="formulario">
                <input type="hidden" id="inputNameFile" name="inputNameFile" value="">
                <div class="form-group row">
                    <label for="oldpass" class="col-sm-4 col-form-label">Contraseña actual</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="oldpass" name="oldpass" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="newpass" class="col-sm-4 col-form-label">Nueva contraseña</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="newpass" name="newpass" required>
                        <div id="passerror" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="repnewpass" class="col-sm-4 col-form-label">Repetir contraseña</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="repnewpass" name="repnewpass" required>
                        <div id="passerror2" class="invalid-feedback"></div>
                    </div>
                </div>
                <div class="d-flex justify-content-end">
                    <button type="button" id="btn-password" class="btn btn-dark mt-2 px-5">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>

</main>
</div>

<script>
    $(document).ready(function () {
        $(document).on("click", ".browse", function () {
            var file = $(this).parents().find(".file");
            file.trigger("click");
        });
        $('input[type="file"]').change(function (e) {
            var fileName = e.target.files[0].name;
            $("#file").val(fileName);
            document.getElementById("inputNameFile").value = fileName;
            $("#nombreImg").val(fileName);

            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById("preview").style.backgroundImage = "url(" + e.target.result + ")";
            };
            reader.readAsDataURL(this.files[0]);
        });

    });

    document.getElementById("btn-password").addEventListener("click", validarForm);

    function validarForm() {
        let pass = document.getElementById("newpass");
        let repass = document.getElementById("repnewpass");

        if (pass.value.length >= 8 && pass.value.length <= 15) {
            document.getElementById("passerror").innerHTML = "";
            document.getElementById("passerror").style.display = "none";
            pass.classList.remove("is-invalid");

            var expreg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,15}/;
            //var expreg = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@$!%*?&])[A-Za-z\d$@$!%*?&]{8,15}/; //Este no tiene la validacion de los espacios en blanco

            if (expreg.test(pass.value)) {
                if (repass.value === pass.value) {
                    document.getElementById("passerror2").innerHTML = "";
                    document.getElementById("passerror").style.display = "none";
                    repass.classList.remove("is-invalid");
                    var oldpass = document.getElementById("oldpass").value;

                    fetch('/act_pass', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify({
                            oldpass: oldpass,
                            password: pass.value
                        })
                    })
                        .then((res) => res.json())
                        .then((data) => {
                            var html = '';
                            var divalerta = document.getElementById("alerta2");

                            if (data.status === "correct") {
                                html = `<div class="alert alert-success alert-dismissible fade show w-100" role="alert">
                                    ${data.msj}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>`;
                                divalerta.innerHTML = html;

                                document.getElementById("formulario").reset();

                            } else if (data.status === "error") {
                                html = `<div class="alert alert-danger alert-dismissible fade show w-100" role="alert">
                                    ${data.msj}
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>`;
                                divalerta.innerHTML = html;
                            }
                        })
                        .catch((err) => console.log(err));
                } else {
                    document.getElementById("passerror2").innerHTML = "";
                    document.getElementById("passerror2").innerHTML = "Las contraseñas no coinciden";
                    document.getElementById("passerror2").style.display = "block";
                    repass.classList.add("is-invalid");
                }

            } else {
                document.getElementById("passerror").innerHTML = "La contraseña debe contener al menos una letra mayúscula, una minuscula, un dígito, un caracter especial y no debe incluir espacios en blanco.";
                document.getElementById("passerror").style.display = "block";
                pass.classList.add("is-invalid");
            }

        } else if (pass.value.length === 0) {
            document.getElementById("passerror").innerHTML = "";
            document.getElementById("passerror").innerHTML = "Este campo no debe estar vacío.";
            ocument.getElementById("passerror").style.display = "block";
            pass.classList.add("is-invalid");

        } else {
            document.getElementById("passerror").innerHTML = "";
            document.getElementById("passerror").innerHTML = "La contraseña debe contener entre 8 y 15 caracteres.";
            document.getElementById("passerror").style.display = "block";
            pass.classList.add("is-invalid");
        }

    }
</script>