{{> navigation}}

<div class="row text-center">
    <div class="col px-0">
        <h3 class="py-3" style="font-family: Arial; background-color: #182f6d; color: white;">PAPELERA</h3>
    </div>
</div>
<div class="mt-5"></div>

<div id="divAlert">{{> message}}</div>

{{#if resultados}}
{{#if (administrador user.idRol)}}
<div class="content">
    <div class="row">
        <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-dark mb-3" id="btn-vaciar">Vaciar papelera</button>
        </div>
    </div> 
</div>  
{{/if}}
{{#if (supervisor user.idRol)}}
    <div class="content">
        <div class="row">
            <div class="col-12 d-flex justify-content-end">
                <button class="btn btn-dark mb-3" id="btn-vaciar" style="display: none;" hidden>Vaciar papelera</button>
            </div>
        </div> 
    </div>
{{/if}}
<table class="table bg-lightgrey table-hover table-font-size sortable" id="tabla-notificaciones">
    <thead class="bg-gray">
        <tr>
            <th class="pointer" scope="col">Unidad</th>
            <th class="pointer" scope="col">Fecha/Hora</th>
            <th class="pointer" scope="col">A.P.C.</th>
            <th class="pointer" scope="col">A.U.C.</th>
            <th class="pointer" scope="col">Grupos</th>
            <th class="pointer" scope="col">Usuario</th>
            <th class="pointer" scope="col">Ubicación</th>
            <th class="sorttable_nosort" scope="col"></th>
        </tr>
    </thead>
    <tbody class="break-text" id="table-body">
    </tbody>
</table>
<div class="row">
    <div class="col-md-12 text-center d-flex justify-content-end">
        <ul id="pagination" class="pagination-sm"></ul>
    </div>
</div>
{{else}}
<div class="offset-1 col-10" style="margin-top: 72px;">
    <div class="alert alert-warning alert-dismissible fade show w-100" role="alert">
        No existen registros en papelera.
    </div>
</div>
{{/if}}

<!-- Modal-->
<div id="modalComent2" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modalHeader">
            <span class="cerrar">&times;</span>
            <h3>Atención</h3>
        </div>
        <div class="py-5 px-5">
            La notificación será eliminada permanentemente, ¿Seguro que desea borrar la notificación?
        </div>
        <div class="modalFooter d-flex justify-content-end">
            <form action="/papelera_borrar_not" method="POST">
                <input id="notificacionID" name="notificacionID" type="hidden" value="">
                <button type="submit" class="btn btn-primary mr-3">Aceptar</button>
                <button type="button" class="btn btn-secondary" id="cancelar">Cancelar</button>
            </form>
        </div>
    </div>
</div>

<!-- Modal2-->
<div id="modalAdvert3" class="modal">
    <!-- Modal content -->
    <div class="modal-content"> 
        <div class="modalHeader">
            <span class="cerrar">&times;</span>
            <h3>Atención</h3>
        </div>
        <div class="py-5 px-5">
            Las notificaciones serán eliminadas permanentemente, ¿Seguro que desea continuar?
        </div>
        <div class="modalFooter d-flex justify-content-end">
            <form action="/deleteAll" method="POST">
                <input id="notificacionID" name="notificacionID" type="hidden" value="">
                <button type="submit" class="btn btn-primary mr-3">Aceptar</button>
                <button type="button" class="btn btn-secondary" id="cancelar2">Cancelar</button>
            </form>
        </div> 
    </div>
</div>

<!-- Modal3-->
<div id="modalAdvert4" class="modal">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="modalHeader">
            <span class="cerrar">&times;</span>
            <h3>Historial</h3>
        </div>
        <div class="py-5 px-3" id="tablaHistorial"></div>
        <div class="modalFooter d-flex justify-content-end">
            <button type="button" class="btn btn-secondary" id="cerrarM">Cerrar</button>
        </div> 
    </div>
</div> 

<script>

    ////////////////////
    var cancelar = document.getElementById("cancelar");
    var cancelar2 = document.getElementById("cancelar2");
    var cerrar = document.getElementById("cerrarM");
    var modal = document.getElementById("modalComent2");
    var modal2 = document.getElementById("modalAdvert3");
    var modal3 = document.getElementById("modalAdvert4");
    var span = document.getElementsByClassName("cerrar")[0];
    var span2 = document.getElementsByClassName("cerrar")[1];
    var span3 = document.getElementsByClassName("cerrar")[2];

    cancelar.onclick = function () {
        modal.style.display = "none";
    }
    cancelar2.onclick = function () {
        modal2.style.display = "none";
    }
    cerrar.onclick = function () {
        modal3.style.display = "none";
    }
    span.onclick = function () {
        modal.style.display = "none";
    }
    span2.onclick = function () {
        modal2.style.display = "none";
    }
    span3.onclick = function () {
        modal3.style.display = "none";
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        if (event.target == modal2) {
            modal2.style.display = "none";
        }
        if (event.target == modal3) {
            modal3.style.display = "none";
        }
    }

    /////////////Pasa el id cuando se abre modal
    function passarID(id) {
        var changeclass = document.getElementsByClassName("modal")[0];
        changeclass.style.display = "block";

        document.getElementById("notificacionID").value = id;
    }

    ////////////Abrir modal de vaciar papelera
    document.getElementById('btn-vaciar').addEventListener("click", function () {
        var changeclass2 = document.getElementsByClassName("modal")[1];
        changeclass2.style.display = "block";
    });
    
    /////////////Pasa el id cuando se abre modal (Historial)
    function mostrarHist(id){
        var changeclass = document.getElementsByClassName("modal")[2];
        changeclass.style.display = "block";

        let divTablaHist = document.getElementById("tablaHistorial");

        fetch('/papelera_historial', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({id: id})
        })
        .then((res) => res.json())
        .then((data) => {
            var html = '';
            if(data.msj === ""){
                html += `<table class="table table-dark m-0">
                            <thead>
                                <tr>
                                    <th scope="col">Fecha</th>
                                    <th scope="col">Comunicación</th>
                                    <th scope="col">Actividad</th>
                                    <th scope="col">Comentario</th>
                                    <th scope="col">Usuario</th>
                                </tr>
                            </thead>
                            <tbody>`;
                data.coment.forEach(com => {
                    html += `<tr>
                            <th scope="row">${com.fecha}</th>
                            <td>${com.comunicacion}</td>
                            <td>${com.nombreAct}</td>
                            <td>${com.texto}</td>
                            <td>${com.nombre} ${com.apellido}</td>
                        </tr>`
                });
                html += `</tbody></table>`;
                divTablaHist.innerHTML = html;
            } else {
                html += `<div class="alert alert-warning" role="alert">${data.msj}</div>`;
                divTablaHist.innerHTML = html;
            }
        })
        .catch((err)=>console.log(err));

    }

    ////////////////////Paginacion
    var $pagination = $('#pagination'),
        totalRecords = 0,
        records = [],
        displayRecords = [],
        recPerPage = 18,
        totalPages = 0,
        page = 1;

    function actualizar3() {
        fetch('/notpapelera', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        })
            .then((res) => res.json())
            .then((data) => {
                records = data.results;
                totalRecords = records.length;
                totalPages = Math.ceil(totalRecords / recPerPage);
                apply_pagination(data.userRol);

            })
            .catch((err) => console.log(err));
    }

    function generate_table(idRol) {
        var tr;
        $('#table-body').html('');
        for (var i = 0; i < displayRecords.length; i++) {

            if (displayRecords[i].apc === null) {
                displayRecords[i].apc = "";
            }
            if (displayRecords[i].auc === null) {
                displayRecords[i].auc = "";
            }
            if (displayRecords[i].usuario === null) {
                displayRecords[i].usuario = "";
            }
            if (displayRecords[i].grupo === null) {
                displayRecords[i].grupo = "";
            }
            if (displayRecords[i].nombreNotif === null) {
                displayRecords[i].nombreNotif = "";
            }

            tr = $('<tr/>');
            tr = $('<tr>');
            tr.append('<td class="font-weight-bold">' + displayRecords[i].idUnidad + '</td>');
            tr.append("<td class='text-center'>" + displayRecords[i].fecha + "</td>");
            tr.append("<td>" + displayRecords[i].apc + "</td>");
            tr.append("<td>" + displayRecords[i].auc + "</td>");
            tr.append("<td>" + displayRecords[i].grupo + "</td>");
            tr.append("<td>" + displayRecords[i].usuario + "</td>");
            tr.append('<td><a href="https://maps.google.com/?q=' + displayRecords[i].longitude + ',' + displayRecords[i].latitude + '" target="_blank">' + displayRecords[i].nombreNotif + '</a></td>');
            if(idRol===1){
                tr.append('<td class="d-flex"><button type="button" class="btn btn-primary mr-2" data-toggle="tooltip" data-placement="bottom" title="Ver historial" onclick="mostrarHist(' + displayRecords[i].id + ')"> <i class="fa fa-eye"></i></button><button class="btn-trash" data-toggle="tooltip" data-placement="bottom" title="Eliminar" onclick="passarID(' + displayRecords[i].id + ')"><i class="fa fa-trash"></i></button></td>');
            } else {
                tr.append('<td class="d-flex"><button type="button" class="btn btn-primary mr-2" data-toggle="tooltip" data-placement="bottom" title="Ver historial" onclick="mostrarHist(' + displayRecords[i].id + ')"> <i class="fa fa-eye"></i></button></td>');
            }
            $('#table-body').append(tr);
        }
    }
    function apply_pagination(idRol) {
        $pagination.twbsPagination({
            totalPages: totalPages,
            visiblePages: 6,
            startPage: page,
            initiateStartPageClick: true,
            next: 'Siguiente',
            prev: 'Anterior',
            first: 'Inicio',
            last: 'Último',
            onPageClick: function (event, page) {
                displayRecordsIndex = Math.max(page - 1, 0) * recPerPage;
                endRec = (displayRecordsIndex) + recPerPage;
                displayRecords = records.slice(displayRecordsIndex, endRec);
                generate_table(idRol);
            }
        });
    }
    
    actualizar3();
</script>