{{> navigation}}


<div class="row text-center">
    <div class="col px-0">
        <h3 class="py-3" style="font-family: Arial; background-color: #182f6d; color: white;">DESCARGA DE REPORTE</h3>
    </div>
</div>

<div class="mt-5"></div>

<div class="container contAlert">
    <div class="row">
        <div id="alerta" class="col-offset-1 col-10">
        </div>
    </div>
</div>
  
<div class="container contForm">
    <div class="row">
        <div class="bg-white shadow-box col-offset-1 col-10 colform mb-4">
            <form id="formImgP">
                <div class="form-group row">
                    <label for="estado" class="col-2 col-form-label">Estado:</label>
                    <div class="col-10"> 
                        <select class="form-control" id="estado">
                            <option value="0">Todos</option>
                            {{#each estados}}
                            <option value="{{ id }}">{{ nombre }}</option>
                            {{/each}}
                        </select>
                    </div> 
                </div>
                <div class="form-group row">
                    <label for="monitorista" class="col-2 col-form-label">Monitorista:</label>
                    <div class="col-10"> 
                        <select class="form-control" id="monitorista">
                            <option value="0">Todos</option>
                            {{#each monitoristas}}
                            <option value="{{ id }}">{{ nombre }} {{ apellido }}</option>
                            {{/each}}
                        </select>
                    </div> 
                </div>
                <div class="form-group row">
                    <label for="unidad" class="col-2 col-form-label">Unidad:</label>
                    <div class="col-10"> 
                        <select class="form-control js-example-basic-single" id="unidad">
                            <option value="0">Todos</option>
                            {{#each unidades}}
                            <option value="{{ idUnidad }}">{{ idUnidad }}</option>
                            {{/each}}
                        </select>
                    </div> 
                </div>
                <div class="form-group row">
                    <label for="fechaInicio" class="col-2 col-form-label">De:</label>
                    <div class="col-10">
                        <input class="form-control" type="date" id="fechaInicio" min="2020-01-01" max=""
                            pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}" required>
                    </div>
                </div>
                <div class="form-group row">
                    <label for="fechaFinal" class="col-2 col-form-label">A:</label>
                    <div class="col-10">
                        <input class="form-control" type="date" id="fechaFinal" min="2020-01-01" max=""
                            pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
                    </div>
                </div> 
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn bg-secondary text-light mt-2 px-3 mr-3" id="btnMostrar">Mostrar
                        resultados</button>
                    <button type="button" class="btn bg-success text-light mt-2 px-3" id="btnExcel">Descargar
                        Excel</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row">
        <div class="col-12 tablaResultado" id="tablaResultado">
        </div>
    </div>
</div>

</main>
</div>

<script>
    $(document).ready(function () {
        var aleatorio = Math.floor(1000 + Math.random() * 90000);
        var today = new Date();
        var dd = today.getDate();
        var mm = today.getMonth() + 1; //January is 0!
        var yyyy = today.getFullYear();
        if (dd < 10) {
            dd = '0' + dd
        }
        if (mm < 10) {
            mm = '0' + mm
        }

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("fechaInicio").setAttribute("max", today);
        document.getElementById("fechaFinal").setAttribute("max", today);

        ////////////////Envia datos
        document.getElementById('btnExcel').addEventListener('click', envDatos);
        function envDatos(event) {
            event.preventDefault();

            var estado = document.getElementById('estado').value;
            var monitor = document.getElementById('monitorista').value;
            var unidad = document.getElementById('unidad').value;
            var inicio = document.getElementById('fechaInicio').value;
            var final = document.getElementById('fechaFinal').value;
            var divAlerta = document.getElementById('alerta');
            var alerta = '';

            if (inicio === '' || final === '') {
                alerta = '';
                alerta = '<div class="alert alert-warning alert-dismissible fade show" role="alert"> Los campos no deben estar vacíos <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
                divAlerta.innerHTML = alerta;
            } else {
                fetch('/exportExcel', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        tipo: 'excel',
                        estado: estado,
                        monitor: monitor,
                        unidad: unidad,
                        inicio: inicio,
                        final: final
                    })
                })
                    .then((res) => res.json())
                    .then((data) => {
                        if (data.rows) {
                            var wb = XLSX.utils.book_new();
                            wb.Props = {
                                Title: "Reporte Notificaciones",
                                Subject: "Reporte Notificaciones",
                                Author: "Skyguardian",
                                CreatedDate: new Date()
                            };
                            wb.SheetNames.push("Notificaciones");
                            var ws_data = data.rows;
                            var ws = XLSX.utils.json_to_sheet(ws_data);
                            wb.Sheets["Notificaciones"] = ws;
                            var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'binary' });
                            function s2ab(s) {

                                var buf = new ArrayBuffer(s.length);
                                var view = new Uint8Array(buf);
                                for (var i = 0; i < s.length; i++) view[i] = s.charCodeAt(i) & 0xFF;
                                return buf;
                            }
                            saveAs(new Blob([s2ab(wbout)], { type: "application/octet-stream" }), 'Reporte_' + aleatorio + '(' + today + ').xlsx');

                        } else {
                            alerta = '';
                            alerta = `<div class="alert ${data.clase} alert-dismissible fade show" role="alert"> ${data.alerta} <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`;
                            divAlerta.innerHTML = alerta;
                        }
                    })
                    .catch((err) => console.log(err));
            }
        }

        ////////////////Mostrar resultados
        document.getElementById('btnMostrar').addEventListener('click', mostrarRes);
        function mostrarRes(event) {
            event.preventDefault();

            var estado = document.getElementById('estado').value;
            var monitor = document.getElementById('monitorista').value;
            var unidad = document.getElementById('unidad').value;
            var inicio = document.getElementById('fechaInicio').value;
            var final = document.getElementById('fechaFinal').value;
            var divAlerta = document.getElementById('alerta');

            let divTabla = document.getElementById("tablaResultado");
            $("#tablaResultado").empty();

            if (inicio === '' || final === '') {
                alerta = '';
                alerta = '<div class="alert alert-warning alert-dismissible fade show" role="alert"> Los campos no deben estar vacíos <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>';
                divAlerta.innerHTML = alerta;
            } else {
                fetch('/exportExcel', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        tipo: 'muestra',
                        estado: estado,
                        monitor: monitor,
                        unidad: unidad,
                        inicio: inicio,
                        final: final
                    })
                })
                    .then((res) => res.json())
                    .then((data) => {
                        if (data.rows) {
                            var html = '';
                            html += `<table class="table table-hover bg-dark sortable" style="font-size: 13.4px;" id="tabla-notificaciones2">
                            <thead class="text-light">
                                <tr>
                                    <th scope="col">Unidad</th>
                                    <th scope="col">Notificación</th>
                                    <th scope="col">Latitud</th>
                                    <th scope="col">Longitud</th>
                                    <th scope="col">Grupos</th>
                                    <th scope="col">Fecha/Hora</th>
                                    <th scope="col">A.P.C.</th>
                                    <th scope="col">Usuario</th>
                                </tr>
                            </thead>
                        <tbody>`;
                            data.rows.forEach(com => {
                                let apc, auc, usuario;
                                if (com.APC == null) { apc = ""; }
                                else { apc = com.APC; }
                                if (com.AUC == null) { auc = ""; }
                                else { auc = com.AUC; }
                                if (com.Usuario == null) { usuario = ""; } 
                                else { usuario = com.Usuario; }

                                html += `<tr class="${com.claseEst}">
                            <th scope="row">${com.IdUnidad}</th>
                            <td>${com.NombreNotificacion}</td>
                            <td>${com.Latitud}</td>
                            <td>${com.Longitud}</td>
                            <td>${com.Grupo}</td>
                            <td>${com.Fecha}</td>
                            <td>${apc}</td>
                            <td>${usuario}</td>
                        </tr>`
                            });
                            html += `</tbody></table>`;
                            divTabla.innerHTML = html;

                        } else {
                            alerta = '';
                            alerta = `<div class="alert ${data.clase} alert-dismissible fade show" role="alert"> ${data.alerta} <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>`;
                            divAlerta.innerHTML = alerta;
                        }
                    })
                    .catch((err) => console.log(err));
            }
        }
    });
    $(document).ready(function() {
        $('.js-example-basic-single').select2();
    });
</script>